body{
  background-color: rgba(147, 13, 111, 0.853);
}

.contenedor{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;  
  align-items:center;     
}

h1{
  font-family: Cambria;
  letter-spacing: 3px;
  word-spacing: 10px;
  background: linear-gradient(-45deg, rgb(17, 161, 21), rgb(18, 195, 103), yellow, pink, rgb(225, 64, 169));  
  background-clip: text;
  color:transparent;
  animation: arcoiris 5s ease-in-out infinite, flotar 5s linear infinite; 
}

img{
  border: 3px solid rgb(174, 189, 9);
  border-radius: 50%;
  box-shadow: 0 0 20px violet;
  animation: rotar 5s ease-in-out infinite;

}

@keyframes arcoiris{
   from{filter: hue-rotate(0deg);}          
   to  {filter: hue-rotate(360deg);}
}

@keyframes flotar{
     0%,100%{transform:scale(0.85) translateY(0);} 
     50% {transform: scale(1.15) translateY(-77px);}
}

@keyframes rotar{
    0%, 100%{transform: rotate(0deg);}
    25%, 75%{ transform: rotate(45deg);}    
    50% {transform: rotate(360deg); }    
}

